<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Add Doctor</h5>
                    <a class="btn btn-primary" routerLink="./add-doctor">Add</a>
                </div>
            </div>

            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Doctor List</h5>
                    <a class="btn btn-primary" routerLink="./doctors">Doctors</a>    
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Add Patient</h5>
                    <a class="btn btn-primary" routerLink="./add-patients">Add</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Patient List</h5>
                    <a class="btn btn-primary" routerLink="./patients">Patients</a>
                </div>
            </div>
        </div>
    </div>
</div>