<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Patient 1 Dashboard</h5>
                    <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
                </div>
            </div>

            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Patient 2 Dashboard</h5>
                    <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>   
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Patient 3 Dashboard</h5>
                    <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Patient 4 Dashboard</h5>
                    <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>